body {
    background-color: #87CEEB;
    margin: 0;
    border: 0;
}

.bg {
    position: absolute;
    top: 50%;
    height: calc(50% - 15px);
    width: 100%;
    background-color: green;
    border-top: 15px black solid;
}

/* SKY */

.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.sun {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #FFFF00;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.cloud {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -200px;
    top: 20px;
    animation: cloud-move 7s infinite linear;
}

.cloud:nth-child(2) {
    top: 40px;
    animation-delay: 5s;
}

.cloud:nth-child(3) {
    top: 34px;
    animation-delay: 2.5s;
}

.cloud div {
    position: absolute;
    background-color: #f6f6f6DD;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 25px;
    left: 0;
}

.cloud div:nth-child(2) {
    left: 20px;
    width: 75px;
    height: 75px;
}

.cloud div:nth-child(3) {
    left: 75px;
    bottom: 18px;
    width: 45px;
    height: 45px;
}

@keyframes cloud-move {
    0%   {margin-left: calc(100vw + 200px);}
    100% {margin-left: 0;}
}

/* CAR */
.center {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car {
    position: relative;
    height: 200px;
    min-height: 200px;
    width: 400px;
    min-width: 400px;
    margin-bottom: 200px;
}

.wheel {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(63, 63, 63);
    height: 70px;
    width: 70px;
    bottom: 0;
    left: 70px;
    z-index: 2;
    border: 5px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Kołpak */
.wheel::after {
    content: '';
    display: block;
    width: 75%;
    heighT: 75%;
    border-radius: 50%;
    background-color: #FFF3;
}

.wheel-right {
    left: unset;
    right: 70px;
}

.car-body {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.car-body div {
    background-color: red;
    z-index: 2;
}

.car-body .bottom {
    position: absolute;
    height: 25px;
    width: 380px;
    border-radius: 25px;
    bottom: 30px;
    margin-left: 10px;
    background-color: rgb(219, 219, 219);
    border: 0.5px solid #000;
    z-index: 3;
}

.front-bumper {
    position: absolute;
    height: 75px;
    width: 100px;
    right: 20px;
    bottom: 50px;
    border-top-right-radius: 75%;
}

.back-bumper {
    position: absolute;
    height: 85px;
    width: 40px;
    bottom: 40px;
    left: 10px;
    border-top-left-radius: 25px;
}

.front-body {
    position: absolute;
    height: 80px;
    width: 110px;
    right: 118px;
    bottom: 115px;
    border-top-right-radius: 100%;
}

/* This class uses a triangle */
.car-body .back-body {
    position: absolute;
    background-color: unset;
    height: 0;
    width: 0;
    border-bottom: 80px solid red;
    border-left: 90px solid transparent;
    left: 20px;
    bottom: 115px;
}

.fill-top {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 100px;
    bottom: 115px;
    border-top-left-radius: 14px;
}

.fill-center {
    position: absolute;
    width: 250px;
    height: 80px;
    left: 50px;
    bottom: 40px;
}

.red-light {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 60px;
    left: 1px;
}

.car-body .yellow-light {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 60px;
    right: 10px;
    background-color: yellow;
    z-index: 0;
}

.front-window {
    position: absolute;
    background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 50%, rgba(0,212,255,1) 100%);
    width: 70px;
    height: 50px;
    top: 25px;
    right: 140px;
    border-top-right-radius: 100%;
}

.car-body .back-window {
    position: absolute;
    background-color: rgba(0,212,255,1);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 75%, rgba(0,212,255,1) 100%);
    width: 60px;
    height: 50px;
    top: 25px;
    left: 110px;
}

.car-body .back-window-triangle {
    position: absolute;
    background-color: unset;
    width: 0;
    height: 0;
    top: 25px;
    left: 60px;
    border-bottom: 50px solid rgba(0,212,255,1);
    border-left: 50px solid transparent;
}

.car-body .handle {
    position: absolute;
    top: 90px;
    left: 190px;
    width: 25px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
}